set gamename rdr3
{{serverEndpoints}}
sv_maxclients {{maxClients}}
set steam_webApiKey "none"
sets tags "default, deployer, qbcore, qb-core"

## You MAY edit the following:
sv_licenseKey "{{svLicense}}"
sv_hostname "{{serverName}} built with {{recipeName}} by {{recipeAuthor}}!"
sets sv_projectName "[{{recipeName}}] {{serverName}}"
sets sv_projectDesc "{{recipeDescription}}"
sets locale "en-US" 
load_server_icon vorp.png
set mysql_connection_string "{{dbConnectionString}}"

# These resources will start by default.
stop sessionmanager
stop webadmin
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager-rdr3
ensure fivem
#ensure hardcap
ensure rconlog
ensure interiors

#MYSQL
ensure ghmattimysql

#VORP Core
ensure vorp_core
ensure vorp_inputs

#VORP Scripts
ensure vorp_character
ensure vorp_inventory

add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
{{addPrincipalsMaster}}